		img[src="https://d3plnp2f9sfye5.cloudfront.net/Favicon.png"] {
		border: 0px solid #000000;
		content:url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==");
		}
		  a[href="https://www.profitsence.com"] {
		display:none;
		}	
